* {
    font-family: Open Sans, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.MainForm {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}

.MainMask {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.phone {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.option {
    font-size: 12px;
    line-height: 20px;
}

.num-input {
    -moz-appearance: textfield;
    font-size: 14px;
    line-height: 20px;
    width: 32px;
    height: 40px;
    position: relative;
    margin: 5px;
    overflow: hidden;
    padding: 10px 8px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid gray;

}

.num-input-success {
    -moz-appearance: textfield;
    font-size: 14px;
    line-height: 20px;
    width: 32px;
    height: 40px;
    position: relative;
    margin: 5px;
    overflow: hidden;
    padding: 10px 8px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #3CC13B;
}

.num-input-error {
    -moz-appearance: textfield;
    font-size: 14px;
    line-height: 20px;
    width: 32px;
    height: 40px;
    position: relative;
    margin: 5px;
    overflow: hidden;
    padding: 10px 8px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #F03738;
}

.num-input:hover {
    border: 1px solid deepskyblue;

}

.num-input::-webkit-inner-spin-button {
    display: none;
}

.num-input-success::-webkit-inner-spin-button {
    display: none;
}

.num-input-error::-webkit-inner-spin-button {
    display: none;
}

.num-input:focus {

    -moz-appearance: textfield;
    border: 1px solid deepskyblue;
    outline: none;

}

.num-input:disabled {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), #C2C9D1;
}

.num-select {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 8px;
    width: 77px;
    height: 40px;
    position: relative;
    margin: 5px;
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 8px;
}


.num-select:hover {
    border: 1px solid deepskyblue;

}

.num-select:focus {
    border: 1px solid deepskyblue;
    outline: none;

}

.num-select:disabled {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), #C2C9D1;
}

.succes {
    margin-top: 0.6rem;
    margin-left: 5px;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.succes::before {
    content: url("./Vector-succes.svg");
    padding-right: 0.5rem;
}

.error {
    margin-top: 0.6rem;
    margin-left: 5px;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.error::before {
    content: url("./Vector-error.svg");
    padding-right: 0.5rem;
}